
%h1
  =h("..:: Good music 24/7 ::..")

.control
  =link_to_remote "[||] [|>]", :url => { :action => "pause" }, :html => { :title => 'Play / Pause' }
  =link_to_remote "[<<]", :url => { :action => "seek_left" }, :html => { :title => 'seek back 1 minute' }
  =link_to_remote "[>>]", :url => { :action => "seek_right" }, :html => { :title => 'seek forward 1 minute' }
  =link_to_remote "[A]", :url => { :action => "volume_up" }, :html => { :title => 'Volume Up' }
  =link_to_remote "[V]", :url => { :action => "volume_down" }, :html => { :title => 'Volume Down' }

.url
  =text_field_tag 'url', nil, :size => 50
  =button_to_remote "Change channel!", :update => 'recent', :url => { :action => "play" }, :with => "'url=' + $F('url')"

#recent
  = render :partial => 'recent'

