!!! Strict

%html
  %head
    %title
      ((( panters jukebox )))
    = javascript_include_tag :defaults 
    = stylesheet_link_tag 'application' 

  %body

    %p{:style=>"color: green"}
      = flash[:notice]

    = yield

